<!--<h2>{{device}}</h2>-->

<div class="email-template" hidden>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;background:#FFFFFF;background: #ffffff; width: 100% !important; margin: 0; padding: 0;" bgcolor="#ffffff">
      <tr>
        <td valign="top" align="center" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
          <!-- *********** Code from here ********* -->
          <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
            <!-- START CONTENT ROW -->
            <tr>
              <td valign="top" align="center" class="font-family_proxima" style="color:#1e1e1e;font-family:proxima-nova, arial, sans-serif;background-color:#ffffff;">
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
                  <tbody>
                    <!-- START ROW -->
                    <tr>
                      <td align="center" valign="top" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
                        <table width="600" border="0" cellspacing="0" cellpadding="0" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
                          <tr>
                            <td valign="top" align="center" class="img" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;display:block;line-height:100%;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;font-size:14px;">
                             <img src="{{data.bgURL}}" alt="{{altLogo}}">
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- END ROW -->
                    <!-- START ROW -->
                    <tr>
                      <td align="center" valign="top" class="pt-20 pb-8" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;padding-bottom:8px;padding-top:20px;">
                        <table width="580" border="0" cellspacing="0" cellpadding="0" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
                          <tr>
                            <td valign="top" align="center">
                              <div id="headline">
                                <table width="580" border="0" cellspacing="0" cellpadding="0" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
                                  <tr>
                                    <td valign="top" align="center" class="headline font-weight_extrabold text-align_center" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;font-size:38px;line-height:38px;font-weight:800;text-align:center;">
                                   {{data.headline}}
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- END ROW -->
                    <!-- START ROW -->
                    <tr>
                      <td align="center" valign="top" class="pb-30" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;padding-bottom:30px;">
                        <table width="600" border="0" cellspacing="0" cellpadding="0" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
                          <tr>
                            <td class="p-medium font-weight_regular pt-10" align="center" valign="top" style="font-family:proxima-nova, arial, sans-serif;font-size:17px;line-height:24px;color:#1e1e1e;font-weight:400;padding-top:10px;">
                              {{data.para}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- END ROW -->


                    <!-- blue btn  -->
                    <!-- START ROW -->
                    <tr *ngIf="button=='default'">
                      <td align="center" valign="top">
                        <table width="600" border="0" cellspacing="0" cellpadding="0" class="pb-30" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;padding-bottom:30px;">
                          <tr>
                            <td valign="top" align="center" class="img">
                              <table border="0" cellspacing="0" cellpadding="0"
                                style="color:#1e1e1e;background:#FFFFFF;">
                                <tr>
                                  <td align="center" style="color:#1e1e1e;background:#005da3;border-radius: 5px;" bgcolor="#005da3">
                                    <a href="#" target="_blank" style="color:#ffffff;background:#005da3;font-weight:700;font-size: 16px; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 5px; padding: 12px 18px; border: none; display: inline-block;"
                                    class="font-weight_bold">
                                    {{data.buttonTxt}}</a></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- END ROW -->

                    <!-- white btn  -->
                    <!-- START ROW -->
                    <tr *ngIf="button=='alternate'">
                      <td align="center" valign="top" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
                        <table width="600" border="0" cellspacing="0" cellpadding="0" class="pb-30" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;padding-bottom:30px;">
                          <tr>
                            <td valign="top" align="center" class="img"> <!-- style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;display:block;line-height:100%;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;font-size:14px;"> -->
                              <table border="0" cellspacing="0" cellpadding="0" 
                                style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;color:#1e1e1e;">
                                <tr>
                                  <td align="center" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;color:#1e1e1e;border-radius: 5px;" bgcolor="transparent">
                                    <a href="#" target="_blank" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;font-weight:700;color:#1e1e1e;font-weight:700;font-size: 16px; color: #005da3; text-decoration: none; text-decoration: none;border-radius: 5px; padding: 12px 18px; border: 2px solid #005da3; display: inline-block;" 
                                    class="font-weight_bold">
                                    {{data.buttonTxt}}</a></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- END ROW -->
                    <!-- ---------------------------------  -->

                    <!-- START ROW -->
                    <tr>
                      <td align="center" class="pt-20 border-top" valign="top" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;padding-top:20px;border-top:1px solid #CCCCCC;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="150" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;">
                          <tbody>
                            <tr>
                              <td align="center" class="text-align_center" valign="top" style="font-family:proxima-nova, arial, sans-serif;color:#1e1e1e;text-align:center;">
                                <img class="img" alt="{{altLogo}} logo" border="0" height="51" width="211" src="{{data.logoURL}}" style="display:block;line-height:100%;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;font-size:14px;"/></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <!-- END ROW -->
                  </tbody>
                   </table>
              </td>
            </tr>
            <!-- END CONTENT ROW -->
          </table>
          <!-- *********** Code to here ********* -->
        </td>
      </tr>
    </table>

</div>


<iframe class="email-iframe iframe-widescreen" src="assets/html/email.html"></iframe>
