<h2>{{device}}</h2>

<div class="email-template" hidden>
<table width="100%" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="background: #ffffff; width: 100% !important; margin: 0; padding: 0;" bgcolor="#ffffff">
  <tr>
    <td valign="top" align="center"><table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
        <!-- START CONTENT ROW -->
        <tr>
          <td valign="top" align="center" class="font-family_proxima" style="background-color:#ffffff;"><table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
              <tbody>
             
                <!-- START ROW -->
                <tr>
                  <td align="center" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td valign="top" align="center" class="img">
                          <img src="{{data.bgURL}}" alt="{{altLogo}}">
                          </td>
                      </tr>
                    </table></td>
                </tr>
                <!-- END ROW --> 
                <!-- START ROW -->
                <tr>
                  <td align="center" valign="top" class="pt-20 pb-8"><table width="580" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top" align="center" class="headline font-weight_extrabold text-align_center"><div id="headline">
                        <table width="580" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top" align="center" class="headline font-weight_extrabold text-align_center"><div id="headline2">{{data.headline}}</div></td>
                          </tr>
                        </table>
                      </div></td>
                    </tr>
                  </table></td>
                </tr>
                <!-- END ROW --> 
                <!-- START ROW -->
                <tr>
                  <td align="center" valign="top" class="pb-30"><table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="p-medium font-weight_regular pt-10" align="center" valign="top">{{data.para}}</td>
                      </tr>
                    </table></td>
                </tr>
                <!-- END ROW --> 
             <!-- START ROW -->
                <tr>
                  <td align="center" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0" class="pb-30">
                      <tr>
                        <td valign="top" align="center" class="img">
                           

          <table border="0" cellspacing="0" cellpadding="0" style="color:#1e1e1e;background:#FFFFFF;">
            <tr>
              <td align="center" style="color:#1e1e1e;background:#FFFFFF;border-radius: 5px;" bgcolor="transparent"><a href="#" target="_blank" style="color:#1e1e1e;background:#FFFFFF;font-weight:700;font-size: 16px; color: #005da3; text-decoration: none; text-decoration: none;border-radius: 5px; padding: 12px 18px; border: 2px solid #005da3; display: inline-block;" class="font-weight_bold">{{data.buttonTxt}}</a></td>
            </tr>
          </table>
 
                          
                          </td>
                      </tr>
                    </table></td>
                </tr>
                <!-- END ROW --> 
              
                <!-- START ROW -->
                <tr>
                  <td align="center" class="pt-20 border-top" valign="top"><table align="center" border="0" cellpadding="0" cellspacing="0" width="150">
                      <tbody>
                        <tr>
                          <td align="center" class="text-align_center" valign="top"><img class="img" alt="{{altLogo}} logo" border="0"  height="51" width="211" src="{{data.logoURL}}" /></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
                <!-- END ROW -->
              </tbody> </table></td>
        </tr>
        <!-- END CONTENT ROW -->
      </table></td>
  </tr>
</table>

</div>


<iframe class="email-iframe iframe-widescreen" src="assets/html/email.html"></iframe>
