<!-- A1 template -->
<div class="A1-template" hidden>
  <div class="container">
    <div class="a1-hero a1-hero_primary"> <a class="hero-link" href="{{a1Data.data.parameterValues['DE:CTA URL']}}">
        <div class="row">
          <!-- Hero Text -->
          <div class="col-lg-4 col-md-12 a1-hero_text-wrap">
            <div class="c-hero__inner">
              <div class="c-hero__copy c-hero__copy--align-center">
                <h4 class="callout sale">{{a1Data.data.parameterValues['DE:Text for Sale Call-Out']}}</h4>
                <h2 class="headline">{{a1Data.data.parameterValues['DE:Headline']}}</h2>
                <p class="sub-headline">{{a1Data.data.parameterValues['DE:Sub-Headline']}}</p>
                <span class="cta">{{a1Data.data.parameterValues['DE:CTA text']}}</span>
              </div>
            </div>
          </div>
          <!-- Hero Image -->
          <div class="col-lg-8 col-md-12 order-lg-last order-first">
            <div class="c-hero a1-hero_image">
              <picture>
                <source media="(max-width: 480px)" srcset="{{a1Data.data.parameterValues['DE:Image for mobile - 480px x 205px']}}">
                <source media="(min-width: 1201px)" srcset="{{a1Data.data.parameterValues['DE:Image for desktop - 960px x 410px']}}">
                <img alt="" class="c-hero__image" src="{{a1Data.data.parameterValues['DE:Image for desktop - 960px x 410px']}}">
              </picture>
            </div>
            <div alt="" class="a1-supplier-logo"><img class="bg-white large" src="{{a1Data.data.parameterValues['DE:Image path for logo']}}"/></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<iframe class="A1-iframe iframe-widescreen" src="assets/html/A1.html"></iframe>

<div class="plain-text">
  <h4 class="mt-4 ml-4">Plain Text</h4>
  <div class="codeBox card card-body">
    <code>{{outputCode}}</code>
  </div>
  <button mat-flat-button class="copy-button1" (click)="onCopy('plain')" (click)="openSnackBar('Copied code!', '', 2000)" tooltip="Copy to clipboard" placement="bottom" hide-delay="0">
    <span><i class="fas fa-code"></i></span>
    <span class="copy-btn-txt"> Copy Code</span>
  </button>
  <button mat-flat-button class="copy-button2" (click)="onDownload('A1.html', 'html')" tooltip="Download html file" placement="bottom" hide-delay="0">
    <span><i class="fas fa-download"></i></span>
    <span class="copy-btn-txt"> Download Code</span>
  </button>
</div>  

<div class="impex-file">
  <h4 class="mt-4 ml-4">Impex File</h4>
  <div class="codeBox card card-body">
    <code id="impex-code">
      <pre>
$contentCatalog = americanhotelContentCatalog
$contentCV = catalogVersion(CatalogVersion.catalog(Catalog.id[default = $contentCatalog]), CatalogVersion.version[default = Staged])[default = $contentCatalog:Staged]
$mediaContainer = media(qualifier, $contentCV);
$medias = medias(code, $contentCV);
$media = media(code, $contentCV);
$productCatalog = americanhotelProductCatalog
$productCV = catalogVersion(catalog(id[default = $productCatalog]), version[default = 'Staged'])[unique = true, default = $productCatalog:Staged]
$siteResource = jar:com.americanhotel.hybris.initialdata.constants.AmericanhotelInitialDataConstants&/americanhotelinitialdata/import/sampledata/contentCatalogs/$contentCatalog
$lang = en
          
UPDATE GenericItem[processor = de.hybris.platform.commerceservices.impex.impl.ConfigPropertyImportProcessor]; pk[unique = true]
$jarResourceCms = $config-jarResourceCmsValue
          
          
          
          
          
INSERT_UPDATE CMSParagraphComponent ; $contentCV[unique = true] ; uid[unique = true] ; onlyOneRestrictionMustApply[default='false'] ; name                          ; &componentRef    ; content[lang = $lang]

                              ;                           ; componentid   ;                                              ; component name ; componentid ; "
                              {{impexCode}}
          
"</pre>
    </code>
  </div>
  <button mat-flat-button class="impex-button1" (click)="onCopy('impex')" (click)="openSnackBar('Copied impex!', '', 2000)" tooltip="Copy to clipboard" placement="bottom" hide-delay="0">
    <span class="fas fa-code"></span>
    <span class="impex-btn-txt"> Copy Impex</span>
  </button>
  <button mat-flat-button class="impex-button2" (click)="onDownload('A1.impex', 'impex')" tooltip="Download impex file" placement="bottom" hide-delay="0">
    <span class="fas fa-download"></span>
    <span class="impex-btn-txt"> Download Impex</span>
  </button>
</div>
