<!-- Seasonal template -->
<div class="Seasonal-template" hidden>
  <div class="container mt-5">
    <h4 class="">{{seasonalData.headline}}</h4>
    <div class="seasonalComponent-block">
      <div class="seasonalComponent-callout text-center">
        <div class="seasonalComponent-callout-inner">
          <img class="mx-auto mb-2" src="{{seasonalData.logoURL}}" alt="{{altLogo}}" width="{{seasonalData.logoWidth}}">
          <h5 class="text-center">{{seasonalData.subline}}</h5>
          <p class="text-white">{{seasonalData.paragraph}}</p>
          <a href="{{seasonalData.buttonURL}}" class="btn btn--secondary">{{seasonalData.buttonTxt}}</a>
        </div>
      </div>

      <a href="{{seasonalData.products.prod1Link}}" class="seasonalComponent-item">
        <img alt="{{seasonalData.products.prod1Name}}" 
        src="{{seasonalData.products.prod1Img}}" width="140"
        height="140"><span>{{seasonalData.products.prod1Name}}</span></a>

      <a href="{{seasonalData.products.prod2Link}}" class="seasonalComponent-item">
        <img alt="{{seasonalData.products.prod2Name}}"
        src="{{seasonalData.products.prod2Img}}" width="140"
        height="140"><span>{{seasonalData.products.prod2Name}}</span></a> 

      <a href="{{seasonalData.products.prod3Link}}" class="seasonalComponent-item">
        <img alt="{{seasonalData.products.prod3Name}}"
        src="{{seasonalData.products.prod3Img}}" width="140"
        height="140"><span>{{seasonalData.products.prod3Name}}</span></a> 

      <a href="{{seasonalData.products.prod4Link}}" class="seasonalComponent-item">
        <img alt="{{seasonalData.products.prod4Name}}"
        src="{{seasonalData.products.prod4Img}}" width="140"
        height="140"><span>{{seasonalData.products.prod4Name}}</span></a>
    </div>
  </div>
</div>


<iframe class="seasonal-iframe iframe-widescreen" src="assets/html/Seasonal.html"></iframe>

<div class="plain-text">
  <h4 class="mt-4 ml-4">Plain Text</h4>
  <div class="codeBox card card-body">
    <code>{{outputCode}}</code>
  </div>
  <button mat-flat-button class="copy-button1" (click)="onCopy('plain')"
    (click)="openSnackBar('Copied code!', '', 2000)" tooltip="Copy to clipboard" placement="bottom" hide-delay="0">
    <span><i class="fas fa-code"></i></span>
    <span class="copy-btn-txt"> Copy Code</span>
  </button>
  <button mat-flat-button class="copy-button2" (click)="onDownload('Seasonal.html', 'html')" tooltip="Download html file"
    placement="bottom" hide-delay="0">
    <span><i class="fas fa-download"></i></span>
    <span class="copy-btn-txt"> Download Code</span>
  </button>
</div>

<div class="impex-file">
  <h4 class="mt-4 ml-4">Impex File</h4>
  <div class="codeBox card card-body">
    <code id="impex-code">
      <pre>
$contentCatalog = americanhotelContentCatalog
$contentCV = catalogVersion(CatalogVersion.catalog(Catalog.id[default = $contentCatalog]), CatalogVersion.version[default = Staged])[default = $contentCatalog:Staged]
$mediaContainer = media(qualifier, $contentCV);
$medias = medias(code, $contentCV);
$media = media(code, $contentCV);
$productCatalog = americanhotelProductCatalog
$productCV = catalogVersion(catalog(id[default = $productCatalog]), version[default = 'Staged'])[unique = true, default = $productCatalog:Staged]
$siteResource = jar:com.americanhotel.hybris.initialdata.constants.AmericanhotelInitialDataConstants&/americanhotelinitialdata/import/sampledata/contentCatalogs/$contentCatalog
$lang = en
          
UPDATE GenericItem[processor = de.hybris.platform.commerceservices.impex.impl.ConfigPropertyImportProcessor]; pk[unique = true]
$jarResourceCms = $config-jarResourceCmsValue
          
          
          
          
          
INSERT_UPDATE CMSParagraphComponent ; $contentCV[unique = true] ; uid[unique = true] ; onlyOneRestrictionMustApply[default='false'] ; name                          ; &componentRef    ; content[lang = $lang]

                              ;                           ; componentid   ;                                              ; component name ; componentid ; "
                              {{impexCode}}
          
"</pre>
    </code>
  </div>
  <button mat-flat-button class="impex-button1" (click)="onCopy('impex')" (click)="openSnackBar('Copied impex!', '', 2000)" tooltip="Copy to clipboard" placement="bottom" hide-delay="0">
    <span class="fas fa-code"></span>
    <span class="impex-btn-txt"> Copy Impex</span>
  </button>
  <button mat-flat-button class="impex-button2" (click)="onDownload('Seasonal.impex', 'impex')" tooltip="Download impex file" placement="bottom" hide-delay="0">
    <span class="fas fa-download"></span>
    <span class="impex-btn-txt"> Download Impex</span>
  </button>
</div>
