<!-- Fixed navbar -->
<nav class="navbar navbar-expand-sm bg-primary">
  <a class="navbar-brand mb-0" href="#">{{title}}</a>
</nav>

<div class="splitexample" style="height: 1000px">
  <as-split unit="pixel"> <!--  split-pane col-lg-6 col-sm-12 left" id="one" / col-sm-5 col-xs-offset-1 col-md-4-->
    <!-- Left side -->
    <as-split-area class="leftPane" (resized)="onResizedLeft($event)" size="500" maxSize="2049">
      <div class="container-fluid navbar-default">
        <nav class="navbar">
          <ul class="nav navbar-nav">
          </ul>
        </nav>
      </div>


      <div class="container col-xs-6">
        <!-- Headline -->
        <label for="headline"><h5 class="text-primary">Headline</h5></label>
        <textarea class="form-control" type="text" maxlength="60" [(ngModel)]="data.headline" rows="2" placeholder="Text"></textarea>
        <br>

        <!-- subline -->
        <label for="subheadline"><h5 class="text-primary">Subheadline</h5></label>
        <textarea class="form-control" type="text" [(ngModel)]="data.subline" rows="3" placeholder="Text"></textarea>
        <br>

        <!-- paragraph -->
        <label for="para"><h5 class="text-primary">Paragraph</h5></label>
        <textarea class="form-control" type="text" [(ngModel)]="data.para" rows="3" placeholder="Text"></textarea>
        <br>

        <!-- URL for background -->
        <label for="Background"><h5 class="text-primary">Background</h5></label>
        <input class="form-control" type="text" [(ngModel)]="data.bgURL" placeholder="url" />
        <h5 class="text-dark">https://images.americanhotel.com/images/banners/8754_1888Mills_AD_D1_061719_bg.jpg</h5>
        <br>

        <!-- URL for foreground -->
        <label for="Foreground"><h5 class="text-primary">Foreground</h5></label>
        <input class="form-control" type="text" [(ngModel)]="data.fgURL" placeholder="url" />
        <br>

        <!-- URL for Logo -->
        <label for="Logo"><h5 class="text-primary">Logo</h5></label>
        <input class="form-control" type="text" [(ngModel)]="data.logoURL" (ngModelChange)="getAlterLogo(data)" placeholder="url" />
        <h5 class="text-dark">https://images.americanhotel.com/images/logos/suppliers/1888-mills-logo-white.svg</h5>
        <br>

        <!-- URL / TYPE for button -->
        <label for="Button"><h5 class="text-primary">Button</h5></label><br>
        <select class="custom-select" style="width:200px" [(ngModel)]="button"> <!--(change)="changeButton($event.target.value)" -->
          <!-- <option value="" disabled selected>Select button</option>
          <option value="default">Default</option>
          <option value="primary">Primary</option>
          <option value="alternate">Alternate</option> -->
          <option value="" disabled selected>Select button</option>
          <option *ngFor="let option of buttonOptions" [ngValue]="option">{{option}}</option>
        </select>
        <input class="form-control" type="text" [(ngModel)]="data.buttonTxt" placeholder="Text" /><br>
        <br>

        <label for="linkOption"><h5 class="text-primary">Button Link</h5></label><br>
        <!-- <label class="radio-inline"><input type="radio" name="optradio">Only Button</label>
        <label class="radio-inline"><input type="radio" name="optradio">Entire Ad</label> -->
        <input class="form-control" type="text" [(ngModel)]="data.buttonURL" placeholder="url" /><br>


      </div>
    </as-split-area>
    <!-- </div> -->

    <!-- Right side-->
    <as-split-area class="rightPane" (resized)="onResizedRight($event)" [size]="paneSize">
      <div class="container-fluid navbar-default">
        <nav class="navbar pull-left">
          <ul class="nav">
            <li id="nav-icon"><i class="fas fa-mobile-alt btn-mobile" style="font-size:25px;" (click)="getMobilePane($event)"  matTooltip="Mobile preview"></i></li>
            <li id="nav-icon"><i class="fas fa-tablet-alt btn-tablet" style="font-size:25px;" (click)="getTabletPane($event)"  matTooltip="Tablet preview"></i></li>
            <li id="nav-icon"><i class="fas fa-desktop btn-desktop" style="font-size:25px;" (click)="getDesktopPane($event)" matTooltip="Desktop preview"></i></li>
            <li id="nav-icon"><i class="fas fa-desktop btn-widescreen" style="font-size:30px;" (click)="getWideScreenPane($event)"  matTooltip="Wide Screen preview"></i></li>
          </ul>
          <h5><div class="resize-info float-right badge badge-secondary">{{rightWidth}}px x 1000px </div></h5>
        </nav>
      </div>
      <!--<div class="col-lg-6 col-sm-12 right"> col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0-->
      <div class="mat-app-background basic-container">
        <mat-tab-group>
          <mat-tab label="One-Third Banner">
            <app-preview-D1 [data]="data" [altLogo]="altLogo" [button]="button" [device]="device"></app-preview-D1>
          </mat-tab>
          <mat-tab label="Hero Banner">
            <app-preview-A1 [data]="data" [altLogo]="altLogo" [button]="button"></app-preview-A1>
          </mat-tab>
          <mat-tab label="Email"> Content 3 </mat-tab>
        </mat-tab-group>
      </div>
      <!-- </div> -->

    </as-split-area>
  </as-split>
</div>

<router-outlet></router-outlet>
