<!-- Fixed navbar -->
<nav class="navbar navbar-expand-sm bg-primary">
  <a class="navbar-brand mb-0 text-light" href="#" ngbTooltip="Tooltip on bottom">
    <img src="https://images.americanhotel.com/images/banners/adshark_logo_white.png" style="width:100px">
  </a>
</nav>

<div class="splitexample" style="height: 1200px">
  <as-split unit="pixel"> <!--  split-pane col-lg-6 col-sm-12 left" id="one" / col-sm-5 col-xs-offset-1 col-md-4-->
    <!-- Left side -->
    <as-split-area class="leftPane" (resized)="onResizedLeft($event)" size="500">
      <div class="container-fluid navbar-default">
        <nav class="navbar">
          <ul class="nav navbar-nav">
          </ul>
        </nav>
      </div>

      <div class="container col-xs-6">
        <!-- Headline -->
        <div class="headline-form mb-3">
          <label for="headline"><h5 class="text-primary">Headline</h5></label><br>
          <mat-radio-group [(ngModel)]="txtColor[0].color" (change)="changeColor($event)">
            <mat-radio-button *ngFor="let color of listofColor" [value]="color">{{color | titlecase}}</mat-radio-button>
          </mat-radio-group>
          <textarea class="form-control ad-field" type="text" maxlength="60" [(ngModel)]="data.headline" rows="2" placeholder="Text"></textarea>
        </div>

        <!-- Subline -->
        <div class="subheadline-form mb-3">
          <label for="subheadline"><h5 class="text-primary">Sub-Headline</h5></label><br>
          <mat-radio-group class="select-color-subline" [(ngModel)]="txtColor[1].color" (change)="changeColor($event)">
            <mat-radio-button *ngFor="let color of listofColor" [value]="color">{{color | titlecase}}</mat-radio-button>
          </mat-radio-group>
          <textarea class="form-control ad-field" type="text" [(ngModel)]="data.subline" rows="3" placeholder="Text"></textarea>
        </div>
         

        <!-- Paragraph -->
        <div class="paragraph-form mb-3">
          <label for="para"><h5 class="text-primary">Paragraph</h5></label><br>
          <mat-radio-group class="select-color-para" [(ngModel)]="txtColor[2].color" (change)="changeColor($event)">
              <mat-radio-button *ngFor="let color of listofColor" [value]="color">{{color | titlecase}}</mat-radio-button>
          </mat-radio-group>
          <textarea class="form-control ad-field" type="text" [(ngModel)]="data.para" rows="3" placeholder="Text"></textarea>
        </div>
         

        <!-- URL for background -->
        <div class="background-form mb-3">
          <label for="Background"><h5 class="text-primary">Background</h5></label>
          <input class="form-control ad-field" type="text" [(ngModel)]="data.bgURL" placeholder="url" />
          
          <!-- Sample background for D1/A1/email -->
          <h6 (click)="showSampleBg = !showSampleBg">
            <u><b>Click for sample background URL</b></u></h6>
          <div class="codeBox card card-body" *ngIf="showSampleBg" style="border-color: hotpink; border-width: thin; width: 420px;">
            <h6 style="color:rgb(204, 3, 160); cursor:default"><u>Background</u></h6>
            <h6 class="text-dark sample-bg-D1" (click)="onClickSample('bg', 'D1')" (mouseover)="bgBorder('D1')"><b>One-Third Banner (D1):</b> https://images.americanhotel.com/images/banners/8754_1888Mills_AD_D1_061719_bg.jpg</h6>
            <h6 class="text-dark sample-bg-A1" (click)="onClickSample('bg', 'A1')" (mouseover)="bgBorder('A1')"><b>Hero Banner (A1):</b> https://images.americanhotel.com/images/banners/8713_hunter_A1_widescreen_overlay.jpg</h6>
            <h6 class="text-dark sample-bg-email" (click)="onClickSample('bg', 'email')" (mouseover)="bgBorder('email')"><b>Email Banner: </b>https://images.americanhotel.com/images/emails/8743K_Inteplast_EML_061919_03.jpg</h6>
          </div>
        </div>
         

        <!-- URL for foreground -->
        <div class="foreground-form mb-3">
          <div class="foreground">
            <label for="Foreground"><h5 class="text-primary">Foreground</h5></label>
            <input class="form-control ad-field" type="text" [(ngModel)]="data.fgURL" placeholder="url" />
          </div>
        </div>
         

        <!-- URL for Logo -->
        <div class="logo-form mb-3">
            <div class="logo-label"><label for="Logo"><h5 class="text-primary">Logo</h5></label></div>
            <input class="form-control ad-field mb-2" type="text" [(ngModel)]="data.logoURL" (ngModelChange)="getAlterLogo(data)" placeholder="url" />

          <!-- Button plus/minus -->
          <div class="plus-minus-logoWidth">
          <label for="plus-minus-logoWidth" id="logo-width-label"><h6 class="text-primary">Width:</h6></label>
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-sm btn-number" (click)="minusLogo($event)">
                <span><i class="fas fa-minus"></i></span>
              </button>
            </span>
          <input class="input-number input-width-logo" type="number" [(ngModel)]="logoWidth"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-sm btn-number" (click)="plusLogo($event)">
                <span><i class="fas fa-plus"></i></span>
              </button>

            </span>
          </div>

          <div class="checkbox-bg-white mb-3">
            <mat-checkbox (change)="addWhiteBgLogo()" [checked]="whiteBGLogo">White background under logo</mat-checkbox>
          </div>

          <!-- Sample logo for D1/A1/email -->
          <div><h6 class="sample-logo" (click)="showSampleLogo = !showSampleLogo">
            <u><b>Click for sample logo URL</b></u></h6></div>
          <div class="codeBox card card-body" *ngIf="showSampleLogo" style="border-color: hotpink; border-width: thin; width: 420px;">
            <h6 style="color:rgb(3, 147, 204);"><u>Logo</u></h6>
            <h6 class="text-dark sample-logo-D1" (click)="onClickSample('logo', 'D1')" (mouseover)="logoBorder('D1')"><b>One-Third Banner (D1):</b> https://images.americanhotel.com/images/logos/suppliers/1888-mills-logo-white.svg</h6>
            <h6 class="text-dark sample-logo-A1" (click)="onClickSample('logo', 'A1')" (mouseover)="logoBorder('A1')"><b>Hero Banner (A1):</b> https://images.americanhotel.com/images/logos/suppliers/hunter-logo-overlay.png</h6>
            <h6 class="text-dark sample-logo-email" (click)="onClickSample('logo', 'email')" (mouseover)="logoBorder('email')"><b>Email Banner:</b> https://images.americanhotel.com/images/emails/logos/RegistryNoTag.png</h6>
          </div>
        </div>
         

        <!-- URL / TYPE for button -->
        <div class="button-form mb-3">
          <div class="button-link-form mb-3">
            <label for="linkOption"><h5 class="text-primary">Button Link</h5></label> 
            <input [disabled]="disabledButton" class="form-control ad-field" type="text" [(ngModel)]="data.buttonURL" placeholder="url" />
          </div>
          
          <label for="Button"><h5 class="text-primary">Button</h5></label><br>
          <div *ngIf="tabClick!=2" class="option-button1">
            <select class="custom-select selectpicker mb-1" style="width:300px" [(ngModel)]="button" (change)="changeButton($event.target.value)">
              <option value="" disabled selected>Select button</option>
              <option value="none">None</option>
              <option *ngFor="let option of buttonOptions" [ngValue]="option.type">{{option.name}}</option>
            </select>
          </div>
          <div *ngIf="tabClick==2">
            <select class="custom-select selectpicker option-button2 mb-1" style="width:300px" [(ngModel)]="button" (change)="changeButton($event.target.value)">
              <option value="" disabled selected>Select button</option>
              <option value="none">None</option>
              <option value="default">Solid/Blue</option>
              <option value="alternate">Clear/Blue</option>
            </select>
          </div>
          <!-- <mat-checkbox (change)="disabledButton=!disabledButton" [checked]="disabledButton">No button</mat-checkbox> -->
          <input [disabled]="disabledButton" class="form-control" style="width:300px" type="text" [(ngModel)]="data.buttonTxt" placeholder="Text" /> 
        </div>


      </div>
    </as-split-area>
    <!-- </div> -->

    <!-- Right side-->
    <as-split-area class="rightPane" (resized)="onResizedRight($event)" [(size)]="paneSize" [minSize]="500">
      <div class="container-fluid navbar-default">
        <nav class="navbar pull-left">
          <ul class="nav">
            <li id="nav-icon"><i class="fas fa-mobile-alt btn-mobile" id="icon-button" style="font-size:25px;" (click)="setPaneSize($event, 'mobile')"  matTooltip="Mobile preview"></i></li>
            <li id="nav-icon"><i class="fas fa-tablet-alt btn-tablet" id="icon-button" style="font-size:25px;" (click)="setPaneSize($event, 'tablet')"  matTooltip="Tablet preview"></i></li>
            <li id="nav-icon"><i class="fas fa-desktop btn-desktop current" id="icon-button" style="font-size:25px;" (click)="setPaneSize($event, 'desktop')" matTooltip="Desktop preview"></i></li>
            <li id="nav-icon"><i class="fas fa-desktop btn-widescreen" id="icon-button" style="font-size:30px;" (click)="setPaneSize($event, 'widescreen')"  matTooltip="Wide Screen preview"></i></li>
          </ul>
          <h5><div class="resize-info float-right badge badge-secondary">{{rightWidth}}px x 1000px </div></h5>
        </nav>
      </div>
      <!--<div class="col-lg-6 col-sm-12 right"> col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0-->
      <div class="mat-app-background basic-container">
        <mat-tab-group class="" (selectedTabChange)="onTabClick($event)" (click)="onTabClick($event)">
          <mat-tab label="One-Third Banner">
            <app-preview-D1 [data]="data" [altLogo]="altLogo" [button]="button" [device]="device" [txtColor]="txtColor" [logoWidth]="logoWidth" [disabledButton]="disabledButton" (D1Code)="receiveCode('D1', $event)"></app-preview-D1>
          </mat-tab>
          <mat-tab label="Hero Banner">
            <app-preview-A1 [data]="data" [altLogo]="altLogo" [button]="button" [device]="device" [txtColor]="txtColor" [logoWidth]="logoWidth" (A1Code)="receiveCode('A1', $event)"></app-preview-A1>
          </mat-tab>
          <mat-tab label="Email"> 
            <app-preview-email [data]="data" [altLogo]="altLogo" [button]="button" [device]="device" [txtColor]="txtColor" (emailCode)="receiveCode('email', $event)"></app-preview-email>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!-- </div> -->
       

  <button mat-flat-button class="copy-button" (click)="showCode=true" (click)="copyCode()">
    <span><i class="fas fa-code"></i></span>
    <span class="copy-btn-txt"> Copy Code</span>
  </button>
  <button mat-flat-button class="impex-button" disabled="false">Download impex</button>
  <button mat-flat-button class="silverpop-button" disabled="false">Copy Silverpop code</button>
  <mat-slide-toggle id="mat-toggle" (change)="showCode=!showCode" [checked]="showCode" matTooltip="Show/Hide"></mat-slide-toggle>
  <span id="show-hide-toggle" *ngIf="showCode; else hideCode"><b>Hide</b></span>
  <ng-template #hideCode><span id="show-hide-toggle">Show</span></ng-template>
  
  <div class="codeBox card card-body" *ngIf="showCode">
    <code>{{OutputCode}}</code>
  </div>

    </as-split-area>
  </as-split>
</div>

<router-outlet></router-outlet>
