/* You can add global styles to this file, and also import other style files */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  label.radio-inline {
      margin-right: 10px;
  }
  
  input[type="radio"] {
      margin-right: 10px;
      display: inline-block;
  }
  
  .form-control {
    white-space: pre-line
  }
  
  [type=button] {
      /* -webkit-appearance: button; */
      margin-right: 10px;
  }


  @charset "UTF-8";
  /* CSS Document */
  
  /* Global Styles - Used Across Multiple Ads */
  #ad-wrap .c-hero {
      width: 100%;
      min-height: 160px;
      overflow: hidden;
      position: relative;
      background-color: #f4f4f4;
  }
  #ad-wrap .c-hero__image {
      height: 100%;
      min-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
  #ad-wrap .c-hero__copy, #ad-wrap .c-hero__inner {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
  }
  
  #ad-wrap .c-hero__copy--align-center {
      text-align: center;
  }
  #ad-wrap .c-hero__copy {
      padding: 0 30px;
      margin: 0 auto;
      max-width: 80%;
  }
  #ad-wrap .c-hero__copy, #ad-wrap .c-hero__inner {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
  }
  
  #ad-wrap .pb-2, #ad-wrap .py-2 {
      padding-bottom: .5rem!important;
  }
  #ad-wrap .w-50 {
      width: 50%!important;
  }
  #ad-wrap img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-style: none;
  }
  #ad-wrap .c-hero__title--white {
      color: #fff;
      text-shadow: 0 6px 20px rgba(0,0,0,.35);
  }
  #ad-wrap .c-hero__title--size-normal {
      font-size: 30px;
      line-height: 36px;
  }
  
  #ad-wrap .c-hero__title {
      margin-bottom: 0;
      text-shadow: 0 0 0;
  }
  #ad-wrap [class*="--weight-extrabold"] {
      font-weight: 900;
  }
  #ad-wrap .h2, #ad-wrap .h3, #ad-wrap h2, #ad-wrap h3 {
      color: var(--baseColor);
  }
  #ad-wrap .h2, #ad-wrap h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 800;
  }
  #ad-wrap .h2, #ad-wrap h2 {
      font-size: 2rem;
  }
  #ad-wrap .h1, #ad-wrap .h2, #ad-wrap .h3, #ad-wrap .h4, #ad-wrap .h5, #ad-wrap .h6, #ad-wrap h1, #ad-wrap h2, #ad-wrap h3, #ad-wrap h4, #ad-wrap h5, #ad-wrap h6 {
      margin-bottom: .5rem;
          font-family: proxima-nova,sans-serif;
      font-weight: 500;
      line-height: 1.2;
      color: inherit;
  }
  #ad-wrap h1, #ad-wrap h2, #ad-wrap h3, #ad-wrap h4, #ad-wrap h5, #ad-wrap h6 {
      margin-top: 0;
      margin-bottom: .5rem;
  }
  #ad-wrap * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  #ad-wrap *, :after, :before {
      box-sizing: border-box;
  }
  #ad-wrap .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
  }
  
  #ad-wrap .c-hero__action {
      margin-top: 18px;
  }
  #ad-wrap .c-hero__action {
      margin-top: 25px;
  }
  #ad-wrap .btn--primary {
      border: 2px solid #fff;
      color: #fff;
      background-color: transparent;
  }
  #ad-wrap .btn--primary:hover {
      background-color: #fff;
      color: #005da3;
      border: 2px solid transparent;
  }
  #ad-wrap .btn {
      font-family: proxima-nova,sans-serif;
      font-weight: 700;
      font-size: 14px;
      height: 40px;
      line-height: 20px;
      padding: 8px 17px;
      min-width: 160px;
      border: 2px solid #ffffff;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-radius: 4px;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  #ad-wrap .c-hero__action a {
      color: #ffffff;
      text-decoration: none;
  }
  #ad-wrap a {
      color: #000;
      text-decoration: underline;
       background-color: transparent;
      -webkit-text-decoration-skip: objects;
  }
   
  /* D1 1/3 Banner Component */
  #ad-wrap .onethirdcol {
    max-height: 350px;
      max-width:450px; /*only for previewing purposes - not for production*/
  }
  #ad-wrap .c-hero.c-hero--one_third.onethirdcol img{
      height: auto;
  }
  #ad-wrap .c-hero__copy {
    max-width: 100%;
  }
  #ad-wrap .w-50.square {
    width: 30% !important;
  }
  #ad-wrap .c-hero__sub-title--size-normal {
    line-height: 24px;
  }
  #ad-wrap .w-40 {
    width: 40% !important;
  }
  
  
