/* You can add global styles to this file, and also import other style files */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  label.radio-inline {
      margin-right: 10px;
  }
  
  input[type="radio"] {
      margin-right: 10px;
      display: inline-block;
  }
  
  .form-control {
    white-space: pre-line
  }
  
  [type=button] {
      /* -webkit-appearance: button; */
      margin-right: 10px;
  }